html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    font-weight: 300;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-img {
    width: 200px;
}

.nav-logo {
    width: 100%;
}

.main-content {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    max-width: 100%;
    margin: auto;
    /* background-color: honeydew; */

}

.vsn-msn-div {
    background-image: url(../assets/bg/school\ \(1\).png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 90%;
}

.msn-vdn-card {
    position: absolute;
    /* right: 20%; */
    height: 200px;
    width: 300px;
    top: 50px;
    border-radius: 10px;
    /* box-shadow: rgba(0,0,0,0.5);
    box-shadow: 5px 10px #888888; */
    box-shadow: 0 1px 10px 2px brown;
    text-align: center;
    padding: 50px 10px;
}

.msn-vdn-card:hover {
    box-shadow: 0 1px 10px 4px brown;
}

.msn-div {
    right: 30%;
}

.vsn-div {
    right: 3%;
}



.main-cnt-hd {
    text-align: center;
}

.cl-name {
    color: #5f9bce;
    font-size: 56px;
}

.main-cnt-div {
    padding: 20px;
    width: 90%;
    margin: auto;
}

.abt-us {
    border-bottom: 2px solid;
    display: inline-block;
    padding: 0 2px 5px;

}

.abt-us-div {
    padding: 5px 20px;
}

.abt-des {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}

.vision-p {
    font-size: 19px;
    padding: 0 10px;
    margin-bottom: 30px;
}

.abt-us-ul li {
    font-size: 19px;
}

.srvc-div {
    padding: 5px 15px;
}

.abt-us-div li,
.abt-us-div p {
    font-size: 19px !important;
}

.cv-desc {
    text-align: justify;
}

.img-tag {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.img-tag:hover {
    /* opacity: 0.7; */
}

.card-div {
    /* padding: 5px;
    margin: 5px;
    max-width: 24%; */
}

.card-div:hover {
    /* box-shadow:  0 0px 10px 0px black; */
    opacity: 0.7;

}

.bg-blue-purple-gradient {
    background-image: linear-gradient(to bottom, #a976ff, #fea2cf);
}

.bg-orange-yellow-gradient {
    background-image: linear-gradient(to top, #ffd28e, #ff806d);
}

.bg-light-blue-gradient {
    background-image: linear-gradient(to bottom, #52baf8, #45dcdd);
}

.custom-card {
    color: #fff;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .1), 0 4px 8px 0 rgba(0, 0, 0, .1);
    padding: 22px 15px 42px;
    margin-bottom: 42px;
}

.card-list {
    padding-left: 10px;
}

.card-list>li {
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 12px;
    font-size: 14px;
}

.card-list>li:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-top: 6px;
    margin-left: -22px;
    position: absolute;
    background-color: rgba(255, 255, 255, .6);
}

.card-btn {
    position: absolute;
    bottom: -22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btn-slate-blue-gradient {
    border: 0;
    font-size: 15px;
    font-family: "GothamSSm Book", Arial, sans-serif;
    min-width: 160px;
    color: #fff;
    vertical-align: middle;
    padding: 11px 20px;
    height: 44px;
    border-radius: 32.4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    background-image: linear-gradient(to right, #9752ff, #5e93ff);
}

.card-btn>svg {
    vertical-align: middle;
    margin-left: 5px;
}

svg:not(:root) {
    overflow: hidden;
}

.btn-slate-blue-gradient:active,
.btn-slate-blue-gradient:focus,
.btn-slate-blue-gradient:hover {
    color: #fff;
    font-size: 16px;
    /* border-radius: 32.4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    background-image: linear-gradient(to right, #9752ff, #5e93ff); */
}


@media (min-width: 600px) {
    .navbar.scrolling-navbar {
        padding-top: 12px;
        padding-bottom: 12px;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}


.bg {
    min-height: 70vh;
    background-image: url('https://visualhunt.com/photos/xl/7/wood-cottage-wood-house-cabine.jpg');
    background-size: cover;
    background-position: center;
}

.sticky-top {
    transition: all 0.25s ease-in;
}

/* style for when sitcky is applied */
.stuck .sticky-top {
    background-color: #ffffff !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.custom-nav {
    position: fixed;
    width: 100%;
    left: 0px;
}

#basicExampleNav {
    padding: 0 20px;
}

.custom-nav-item li a {
    color: black;
    font-size: 20px;
}

.custom-nav-item li {
    margin: 0 15px;
}

.custom-nav-item li a:hover {
    /* color: blueviolet; */
    border: 1px solid;
    border-radius: 3px;
}

.custom-nav-item li a:active {
    /* color: blueviolet; */
    border: 1px solid;
    border-radius: 3px;
}

#navbarDropdownMenuLink {
    cursor: pointer;
}

.course-div {
    height: 100%;
}

.swiper-container.custom-swiper {
    width: 100%;
    height: 100%;
}

.custom-swiper-container {
    width: 100%;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.custom-swiper-slid {
    background-position: center !important;
    background-size: cover !important;
    width: 300px !important;
    height: 300px !important;
}

.collaps-max-height {
    max-height: 400px;
    overflow-y: auto;
}

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
} */

.faculty-swiper {
    top: 80px;
}

.swiper-container.faculty-swiper {
    width: 100%;
    height: 100%;
    background: #000;
}

.swiper-slide.faculty-swiper-slide {
    font-size: 18px;
    color: #000000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    width: 100% !important;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.fcl-img-div {
    /* position: absolute;
    top: 52px;
    left: 108px;
    right: 0; */
}

.fcl-img {
    width: 40%;
    border-radius: 50%;
    position: absolute;
    top: 35px;
}

#faculty-swiper-wrapper {
    width: 130% !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.faculties-div {
    text-align: center;
    background-color: #2ee20d;
    height: 110px;
    padding-top: 30px;
}

.faculty-img {
    display: block;
    border-radius: 50%;
    /* margin: auto; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 60px;
    width: 300px;
}
.carousel-caption.d-none.d-md-block{
    color: black;
}

.carousel-inner.faculty-wrapper,
.carousel-inner.faculty-wrapper .carousel-item{
    height: 400px;
}

.carousel-caption.d-none.d-md-block.faculty{
    bottom: 0px !important;
}